{
  "presets": ["next/babel"],
  "plugins": [
    ["styled-components", { "ssr": true }],
    [
      "transform-define",
      {
        "process.env.NODE_ENV": "production",
        "typeof window": "object"
      }
    ]
  ]
}
