@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.fadeInDown {
  animation: fadeInDown 1s ease-out;
}

.__delay {
  animation-delay: 1s;
}

.fadeInLeft {
  animation-name: fadeInLeft;
  animation-duration: 1.5s;
}

.fadeInRight {
  animation-name: fadeInRight;
  animation-duration: 1.5s;
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 1.5s;
}

.hidden {
  opacity: 0 !important;
}
