@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --main-color: #da2e5e;
  --cr-font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: var(--cr-font-family);
  font-weight: 200;
}

.fadeInDown {
  animation: fadeInDown 1s ease-out;
}

.hide {
  opacity: 0 !important;
}

.cr-hero-bg {
  background: linear-gradient(to right, #e23b89 33%, #721ed5);
  color: white;
}

.section1 {
}

.section2 {
  background: linear-gradient(0.6turn, #e23b89, #721ed5);
}

.section3 {
}

@layer components {
  .cr-section-title {
    @apply 2xl:text-5xl xs:text-4xl text-3xl font-bold text-center;
    /* filter: drop-shadow(2px 4px 3px rgba(0, 0, 0, 0.6)); */
  }

  .cr-section-subTitle {
    @apply 2xl:text-3xl md:text-2xl text-xl font-bold;
  }

  .cr-section-subTitle-sm {
    @apply 2xl:text-xl xl:text-lg lg:text-base md:text-sm text-lg font-bold;
  }

  .cr-section-gap {
    @apply sm:py-28 py-20;
  }

  .cr-main-color {
    color: var(--main-color);
  }

  .cr-content-mt {
    @apply md:mt-28 mt-16;
  }

  .cr-text {
    @apply 2xl:text-lg xl:text-lg lg:text-lg xs:text-lg text-sm;
  }

  .cr-backLogo {
    @apply xl:w-[60rem] lg:w-[50rem] sm:w-[30rem] w-[15rem] lg:left-[60%] left-1/2 lg:top-[55%] top-[35%];
  }

  .cr-problem-number {
    @apply 2xl:text-[4rem] text-[3rem] font-normal;
  }
}

/* Ryan's style overwrites start */

strong,
.cr-section-title,
.cr-section-subTitle {
  font-weight: 400;
}

.cr-section2-text {
  max-width: 335px;
}

.cr-section-title {
  line-height: 3rem;
}

.elementor-divider {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.elementor-divider-separator {
  width: 50px;
  height: 2px;
  background: linear-gradient(to right, #e23b89, #b10051);
}
/*
.cr-hero-bg .cr-section-title{
    text-align: left;
}
*/
.cr-hero-bg .elementor-divider-separator,
.section2 .elementor-divider-separator {
  background: #fff;
}

.section2 .cr-section-title {
  display: inline-block;
}

.section2 {
  color: #fff;
}
