@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.fadeInDown {
  animation: fadeInDown 1s ease-out;
}

.__delay {
  animation-delay: 1s;
}

.fadeInLeft {
  animation-name: fadeInLeft;
  animation-duration: 1.5s;
}

.fadeInRight {
  animation-name: fadeInRight;
  animation-duration: 1.5s;
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 1.5s;
}

.hide {
  opacity: 0 !important;
}

@layer components {
  .cr-section-title {
    @apply 2xl:text-5xl xl:text-4xl md:text-3xl text-4xl font-bold;
    /* filter: drop-shadow(2px 4px 3px rgba(0, 0, 0, 0.6)); */
  }

  .cr-section-subTitle {
    @apply 2xl:text-3xl xl:text-2xl lg:text-xl md:text-lg text-2xl font-bold;
  }

  .cr-section-subTitle-sm {
    @apply 2xl:text-xl xl:text-lg lg:text-base md:text-sm text-lg font-bold;
  }

  .cr-section-gap {
    @apply md:py-16 py-8;
  }

  .cr-main-color {
    color: #d2023d;
  }

  .cr-content-mt {
    @apply md:mt-28 mt-16;
  }
}
